<?xml version="1.0"?>
<config>
    <modules>
        <OpsWay_Pipeliner>
            <version>1.0.4</version>
            <depends>
                <!-- no dependencies -->
            </depends>
        </OpsWay_Pipeliner>
    </modules>

    <global>
        <models>
            <pipeliner>
                <class>OpsWay_Pipeliner_Model</class>
            </pipeliner>
        </models>

        <helpers>
            <pipeliner>
                <class>OpsWay_Pipeliner_Helper</class>
            </pipeliner>
        </helpers>

        <blocks>
            <pipeliner>
                <class>OpsWay_Pipeliner_Block</class>
            </pipeliner>
            <adminhtml>
                <rewrite>
                    <system_config_form_fieldset>OpsWay_Pipeliner_Block_Adminhtml_Info</system_config_form_fieldset>
                </rewrite>
            </adminhtml>
        </blocks>

        <resources>
            <add_category_attribute>
                <setup>
                    <module>OpsWay_Pipeliner</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </add_category_attribute>
            <add_category_attribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </add_category_attribute_write>
            <add_category_attribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </add_category_attribute_read>
            <add_product_attribute>
                <setup>
                    <module>OpsWay_Pipeliner</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </add_product_attribute>
            <add_product_attribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </add_product_attribute_write>
            <add_product_attribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </add_product_attribute_read>
            <add_customer_attribute>
                <setup>
                    <module>OpsWay_Pipeliner</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </add_customer_attribute>
            <add_customer_attribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </add_customer_attribute_write>
            <add_customer_attribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </add_customer_attribute_read>
        </resources>
        <events>
            <model_save_before>
                <observers>
                    <pipeliner_events>
                        <type>singleton</type>
                        <class>OpsWay_Pipeliner_Model_Observer</class>
                        <method>modelSaveAfter</method>
                    </pipeliner_events>
                </observers>
            </model_save_before>
        </events>
    </global>
    <crontab>
        <jobs>
            <pipeliner>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>pipeliner/observer::syncCategories</model></run>
            </pipeliner>
        </jobs>
        <jobs>
            <pipeliner>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>pipeliner/observer::syncProducts</model></run>
            </pipeliner>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <pipeliner>
                <use>standard</use>
                <args>
                    <module>OpsWay_Pipeliner</module>
                    <frontName>pipeliner</frontName>
                </args>
            </pipeliner>
        </routers>
    </frontend>
</config>
