<?xml version="1.0"?>
<config>
    <tabs>
       <opsway translate="label">
           <label>OpsWay</label>
           <sort_order>150</sort_order>
       </opsway>
    </tabs>
    <sections>
        <OpsWay_Pipeliner translate="label" module="pipeliner">
            <label>Pipeliner API Access</label>
            <tab>opsway</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment">
                    <label>General Settings</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>

                        <token translate="label comment">
                            <label>Pipeliner API Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </token>

                        <password translate="label comment">
                            <label>Pipeliner API Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>

                        <team_id translate="label comment">
                            <label>Pipeliner Team ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </team_id>

                        <service_url translate="label comment">
                            <label>Pipeliner Service URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </service_url>


                    </fields>
                </general>
            </groups>
        </OpsWay_Pipeliner>
    </sections>
</config>